

.sign-in, .sign-up{
    width: 20vw;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    .title{
       margin-top: 1vmax;
       font-weight: 700;
    }
    span{
      font-weight: 500;
      padding-left: 1em;
      font-size: 1em;
      color:#4a4a4a;
    }
    form{
      margin-top: 1vmax;
    }

}
@media screen and (max-width: 1110px){

  .sign-in, .sign-up{width: 30vw;}
  form{
    width: 30vw;
  }
}
@media screen and (max-width: 813px){
  .sign-in, .sign-up{width: 90vw;}
  form{
    width: 80vw;
    margin: auto;
  }
}

.buttons{
  display: flex;
  justify-content: space-between;
}