@import url('https://fonts.googleapis.com/css?family=Lato:400,600,600i&display=swap');

.collection-item {
    width: fit-content;
    display: block;
    padding: 0;
    height: fit-content;
    align-items: center;
    padding: .5vmax;
    transition: all ease 1s;
    position: relative;
    .image {
      transition: all ease .5s;
      background: no-repeat center;
      width: 12vmax;
      height: 15vmax;
      margin-bottom: 1vh;
    }
    .custom-button{
      position: absolute;
      width: 80%;
      opacity: .7;
      font-size: 1vmax;
      bottom:0;
      left: 10%;
      display: none;
      transition: all ease .4s;
      border-radius: .1vmax;
      &:hover{
        opacity: 1;
      }
    }
    &:hover{ 
      .custom-button{
        display: block;      
      }
      .image{
        opacity: .8;
      }
  }
    .collection-footer {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      font-size: 1vmax;
  
      .name {
        font-family: 'Lato', sans-serif;
        width: 90%;

        margin-bottom: 15px;
      }
      .price{
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        height: 1.5vmax;
      }
      
    }
    &:hover {
      box-shadow: 0 0 10px #0000005e;
      z-index: 5;
    }
  }
  