.cart-dropdown {
    position: absolute;
    width: 15vmax;
    height: 20vmax;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    border: 1px solid black;
    background-color: white;
    top:4.9vmax;
    right: 5vw;
    z-index: 5;
    
    transition: .5s all ease;
    .cart-items {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      margin-bottom: .8vmax;
    }
    .empty-message{
      font-family: 'Ubuntu', sans-serif;  
        font-weight: 300;
        margin: auto;
        font-size: .8vmax;
    }
    button {
      margin-top: auto;
    }
  }
  