
.collection-preview, .collection-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1vmax auto;
  height: max-content;
  width: min-content;

  .title {
    font-size: 2vmax;
    @media screen and (max-width: 813px){
      font-size: 5vmax;
    }
    margin-bottom: 1.5vmax;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 813px){
      grid-template-columns: 1fr 1fr;
    }
  }
}
