.custom-button {
    min-width: 1vmax;
    width: max-content;
    height: max-content;
    letter-spacing: .0892857143em;
    line-height: 1em;
    padding: .6em 1em;
    font-size: .8em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .1s all ease-in-out;
    border:1.5px solid black;
    border-radius: .3em;
    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: black;
    }
   
    &.google-sign-in{
      border: 1.5px #4285f4 solid;
      background-color: rgba(255, 255, 255, 0);
      &:hover {
        background-color: #4285f4;
        color: #fff;
      }
      color: #4285f4;
    } 
    &.inverted{
      background-color: white;
      color: black;
      &:hover{
        background-color:  black;
        color: white;
      }
    }
  }
  