.cart-item {
    width: 100%;
    display: flex;

    margin-bottom: .5vmax;
    border-top: 1px solid #000;
    padding-top: .5vmax;
    img {
      width: 30%;
    }
    &:first-of-type{
      border-top:none;
    }
    .item-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: .3vmax .4vmax;
      .name {
        padding-left: 2vw;
        font-size: .8vmax;
        @media screen and (max-width: 813px){
            font-size: 4vw;
        }
      }
    }
  }
  